footer {
	.wrapper {
  	padding : 55px 0;
  	border-top : 1px solid #ccc;
  	color : #ccc;
  	font : bold 14px sans-serif;
  	text-align : center;
 		text-transform : uppercase;
 	}
}

footer {
 a { color : #fad6cb; }
}